:root {
    --background-dark: #121212;
    --content-dark: #333;
    --text-dark: #f3f3f3;
    --background-light: #E5E4E2;
    --content-light: #fff;
    --text-light: #111;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background-dark);
    color: var(--text-dark);
    font-family: 'Lora', serif;
 
}

main {
    width: 50%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

header .theme {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
header .theme .theme-title,i {
    cursor: pointer;
}

header .theme .theme-checkbox {
    display: none;
}

form {
    width: 100%;
}

form .input-dev-container {
    position: relative;
    background-color: var(--content-dark);
    border-radius: 10px;
}

form .input-dev {
    width: 100%;
    height: 100%;
    padding: 20px 50px;
    background: transparent;
    color: var(--text-dark);

    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .5);
}

form .input-dev::placeholder {
    color: var(--text-dark);
}
.placeholder-light::placeholder {
    color: var(--text-light);
}

form img {
    position: absolute;
    left: 2%;
    top: 30%;
}

form .submit-btn {
    position: absolute;
    right: 2%;
    top: 17%;

    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    color: var(--background-dark);
    background-color: var(--text-dark);
    cursor: pointer;
    transition: opacity .3s ease-in-out;
}

form .submit-btn:hover {
    opacity: .8;
}


.content {
    width: 100%;
    margin-top: 20px;
    background-color: var(--content-dark);

    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .5);
}

.content .profile-info {
    display: flex;
    column-gap: 20px;
}

.content .profile-info .profile-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.content .profile-info .icon-container {
    width: 100px;
    height: 100px;
    background-color: var(--text-dark);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .profile-info .icon-container img {
    width: 100px;
    border-radius: 50px;
}

.content .bio {
    padding: 20px;
    height: 90px;
    margin: 10px 0;
    overflow-y: auto;
}

.content .profile-data {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 40px;
    row-gap: 20px;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--background-dark);
}

.content .profile-data .data {
    font-size: 18px;
}

.content .links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: 10px;
    margin-top: 20px;
}

.content .links .link {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.content .links .link a {
    color: var(--text-dark);
}